.main-header {
  &__header-container {
    background-color: #242A33;
  }
  &__header-nav {
    a {
      color: white !important;
      margin-top: 2px;
    }
  }
  &__avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease; /* Added transition for smooth scaling */
  }
  
  &__avatar:hover {
    transform: scale(1.1); /* Slight scale-up effect on hover */
  }
}

.dropdown-container {
  position: relative;
  cursor: pointer;
  font-family: Arial, sans-serif;
  margin-right: 5%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Added transition */
}

.dropdown-header {
  padding: 10px;
  border: none;
  color: white;
  background: #242A33;
  width: 100%;
  border-radius: 4px;
  text-align: left;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Added transition */
}

.dropdown-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 170px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0; /* Initially hidden */
  transform: translateY(-10px); /* Position dropdown slightly above */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

/* Show dropdown options when open */
.dropdown-options.show {
  display: block;
  opacity: 1; /* Make it visible */
  transform: translateY(0); /* Move it to its intended position */
}

.dropdown-options li {
  padding: 10px;
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

.dropdown-options li:hover {
  background-color: #f0f0f0; /* Light gray on hover */
}

.underline {
  border-bottom: 1px solid #eee;
}
.dropdown-header {
  padding: 10px;
  border: none;
  color: white;
  background: #242A33;
  width: 100%;
  border-radius: 4px;
  text-align: left;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; /* Added transition for transform */
}

.dropdown-header:hover {

  
  transform: scale(1.05); 
}


/* Show only on mobile */
.mobile-hamburger {
  display: block;
}

.navbar-toggler-icon {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 50px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Hide hamburger on large screens */
@media (min-width: 992px) {
  .mobile-hamburger {
    display: none;
  }
}
@media (max-width: 768px) {
  .navbar {
    z-index: 10000 !important;
  }
}
