/* General Container Styling */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f5fa;
  }
  
  .login-box {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
  }
  
  .login-header h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 23px;
    color: #333;
    margin: 0;
  }
  
  /* Form Input Styling */
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-group label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  .form-control {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .form-control:focus {
    border-color: #03a9f3;
    outline: none;
  }
  
  .login-btn {
    background-color: #03a9f3;
    color: white;
    padding: 0.75rem;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .login-btn:hover {
    background-color: #028ac9;
  }
  
  .login-header img{
    width: 80px;
    height: 80px;
  }