<app-loader [isLoading]="isLoading"></app-loader>
<div class="container">
  <div class="row">
    <div class="col-12">
     

      <div class="table-container bg-white rounded shadow p-4 mt-5">
        <div class="headingTitle">
          <h2 class="mb-3">Subitems</h2>
          <img
            [src]="AddItmePlus"
            alt="Add new item"
            (click)="openModal()"
            class="AddItem"
          />
        </div>
        <div class="table-responsive">
          <table class="table align-middle">
            <thead>
              <tr>
                <th scope="col ">Name</th>
                <th scope="col ">Price</th>
                <th scope="col ">Item</th>
                <th scope="col ">Action</th>
                <!-- <th scope="col" style="visibility: hidden">Sub-items</th> -->
                <!-- <th scope="col">Transactions  </th> -->
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let subItem of subItems?.subItems">
                <td>{{ subItem.name }}</td>
                <td>{{ subItem.price }}</td>
                <td>{{ subItem.item?.name }}</td>
                <td class="slot">
                  <div class="tooltip-container">
                  <img src="assets/view-eye-svgrepo-com.svg" 
                  alt="Hanna Gover" />
                  <span class="tooltip-text">View Subitem</span>
                  </div>
                  <div class="tooltip-container">
                  <img
                    src="assets/edit-4-svgrepo-com.svg"
                    alt="Hanna Gover"
                    (click)="openUpdateModal(subItem)"
                  />
                  <span class="tooltip-text">Update Subitem</span>
                  </div>
                  <div class="tooltip-container">
                  <img
                    src="assets/delete-svgrepo-com.svg"
                    alt="Hanna Gover"
                    (click)="deleteSubItem(subItem._id)"
                  />
                  <span class="tooltip-text">Delete Subitem</span>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

        <app-confirmation-modal
          *ngIf="showConfirmation"
          (confirmed)="handleConfirmation($event)"
        ></app-confirmation-modal>
        <div class="pagination-buttons mt-3 d-flex justify-content-between">
          <button
            class="btn btn-primary h-25 mt-3"
            [disabled]="pageNumber === 1"
            (click)="previousPage()"
          >
            Previous
          </button>

          <div class="pagination">
            <div
              *ngFor="let page of pageCountArray"
              (click)="getPaginatedSubItems(page)"
              [class.active]="page === pageNumber"
              class="page-number-button buttom-hover"
            >
              {{ page }}
            </div>
          </div>

          <button
            class="btn btn-primary h-25 mt-3"
            [disabled]="pageNumber === totalPages"
            (click)="nextPage()"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
<div
  class="modal-backdrop"
  *ngIf="showModal || showUpdateModal"
  (click)="handleBackdropClick($event)"
></div>
<!-- add Item -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [@modalAnimation]="showModal ? '*' : 'void'"
  *ngIf="showModal"
  (click)="handleBackdropClick($event)"
 
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header headerNewItem">
        <h3 class="title">Add Subitem</h3>
        <img
          src="assets/close-sm-svgrepo-com.svg"
          alt=""
          class="close closeBtn"
          (click)="closeModal()"
          aria-label="Close"
        />
      </div>
      <div class="modal-body">
        <form [formGroup]="addSubItemForm" (ngSubmit)="onSubmit()">
          <div class="form-group inputFormGroup">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name"
              [(ngModel)]="formData.name"
              name="name"
              required
            />
          </div>
          <div class="form-group inputFormGroup">
            <label for="price">price</label>
            <input
              type="number"
              id="price"
              formControlName="price"
              class="form-control"
              [(ngModel)]="formData.price"
              name="price"
              required
            />
          </div>






          <div class="form-group inputFormGroup">
          <label for="item">Select Item</label>
            <select
              id="item"
              formControlName="item"
              class="form-control"
              name="item"

              required
            >
              <option value="" disabled>Select Item</option>
              <option *ngFor="let pkg of ListAllItems" [value]="pkg._id">
                {{ pkg.name }}
              </option>
            </select>
          </div>

          <!--  -->

          <!--  -->

          <div class="form-group form-check inputFormGroup">
            <input
              type="checkbox"
              id="isAvailable"
              formControlName="isAvailable"
              class="form-check-input"
              [(ngModel)]="formData.isAvailable"
              name="isAvailable"
            />
            <label class="form-check-label" for="isAvailable"
              >Is Available</label
            >
            <input type="file"/>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!addSubItemForm.valid"
            (click)="addSubItem()"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- add sUb Item -->
<!-- Update model -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [@modalAnimation]="showUpdateModal ? '*' : 'void'"
  *ngIf="showUpdateModal"
  (click)="handleBackdropClick($event)"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header headerNewItem">
        <h3 class="title">Update Subitem</h3>
        <img
          src="assets/close-sm-svgrepo-com.svg"
          alt=""
          class="close closeBtn"
          (click)="closeUpdateModal()"
          aria-label="Close"
        />
      </div>
      <div class="modal-body">
        <form [formGroup]="addSubItemForm" (ngSubmit)="onSubmit()">
          <div class="form-group inputFormGroup">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
              [(ngModel)]="subItem.name"
              name="name"
              required
            />
          </div>
          <div class="form-group inputFormGroup">
            <label for="price">price</label>
            <input
              type="number"
              id="price"
              formControlName="price"
              class="form-control"
              [(ngModel)]="subItem.price"
              name="price"
              required
            />
          </div>

          <div class="form-group inputFormGroup">
            <label for="item">Items</label>
            <select
            id="item"
            formControlName="item"
            class="form-control"
            required
          >
            <option value="" disabled>Select Item</option>
            <option *ngFor="let item of ListAllItems" [value]="item._id">
              {{ item.name }}
            </option>
          </select>

          </div>

          <div class="form-group form-check inputFormGroup">
            <input
              type="checkbox"
              id="isAvailable"
              formControlName="isAvailable"
              class="form-check-input"
              [(ngModel)]="subItem.isAvailable"
              name="isAvailable"
            />
            <label class="form-check-label" for="isAvailable"
              >Is Available</label
            >
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!addSubItemForm.dirty"
            (click)="updateSubItem()"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
