<div class="container">
    <div class="row">
        <div class="col-12 main-alerts__alertContainer">
            <div class="col-12 main-alerts__alerttitle">
                Grundlegende Warnung
            </div>
            <hr/>
            <div class="alert alert-primary" role="alert">
                Eine einfache primäre Warnung – schau dir das an!
            </div>
            <div class="alert alert-secondary" role="alert">
                Eine einfache sekundäre Warnung – schau dir das an!
            </div>
            <div class="alert alert-success" role="alert">
                Eine einfache Erfolgsmeldung – schau dir das an!
            </div>
            <div class="alert alert-danger" role="alert">
                Eine einfache Gefahrenwarnung – schau dir das an!
            </div>
            <div class="alert alert-warning" role="alert">
                Eine einfache Warnung – schau dir das an!
            </div>
            <div class="alert alert-info" role="alert">
                Eine einfache Informationswarnung – schau dir das an!
            </div>
            <div class="alert alert-light" role="alert">
                Eine einfache leichte Warnung – schau dir das an!
            </div>
            <div class="alert alert-dark" role="alert">
                Eine einfache dunkle Warnung – schau dir das an!
            </div>
        </div>
        <div class="col-12 main-alerts__alertContainer">
            <div class="col-12 main-alerts__alerttitle">
                Umriss-Warnung
            </div>
            <hr/>
            <div class="alert alert-outline border-primary text-primary" role="alert">
                Eine einfache primäre leichte Warnung
            </div>
            <div class="alert alert-outline border-secondary text-secondary" role="alert">
                Eine einfache sekundäre leichte Warnung
            </div>
            <div class="alert alert-outline border-success text-success" role="alert">
                Eine einfache Erfolgsmeldung als leichte Warnung
            </div>
            <div class="alert alert-outline border-danger text-danger" role="alert">
                Eine einfache Gefahrenwarnung als leichte Warnung
            </div>
            <div class="alert alert-outline border-warning text-warning" role="alert">
                Eine einfache Warnung als leichte Warnung
            </div>
            <div class="alert alert-outline border-info text-info" role="alert">
                Eine einfache Informationswarnung als leichte Warnung
            </div>
        </div>
    </div>
</div>
