<div class="container-fluid main-sideBar__sideBarContainer">
    <div class="row">
        <div class="col-12 main-sideBar__sideBarLogo">
            <span>Admin <span>Pro</span></span>
        </div>
        <div class="col-12 main-sideBar__menu">
            <ul class="main-sideBar__menuBar">
                <li [routerLink]="'dashboard'" [routerLinkActive]="'active'"  class="d-none">
                    <!-- <img src="assets/side-bar-icon/profile-people-account-svgrepo-com.svg" alt=""> -->
                    <span>Dashboard</span>
                </li>
                <li [routerLink]="'alert'" [routerLinkActive]="'active'"  class="d-none" >
                    <!-- <img src="assets/side-bar-icon/profile-people-account-svgrepo-com.svg" alt=""> -->
                    <span>Alert</span>
                </li>
                <li [routerLink]="'booking'" [routerLinkActive]="'active'" >
                    <!-- <img src="assets/side-bar-icon/profile-people-account-svgrepo-com.svg" alt=""> -->
                    <span>Bookings</span>
                </li>
                <li [routerLink]="'customer'" [routerLinkActive]="'active'" >
                    <!-- <img src="assets/side-bar-icon/profile-people-account-svgrepo-com.svg" alt=""> -->
                    <span>Customers</span>
                </li>
                <li [routerLink]="'peckages'" [routerLinkActive]="'active'" >
                    <!-- <img src="assets/side-bar-icon/profile-people-account-svgrepo-com.svg" alt=""> -->
                    <span>Packages</span>
                </li>
                <li [routerLink]="'button'" [routerLinkActive]="'active'"  class="d-none" >
                    <!-- <img src="assets/side-bar-icon/profile-people-account-svgrepo-com.svg" alt=""> -->
                    <span>Button</span>
                </li>
                <li [routerLink]="'Transactions'" [routerLinkActive]="'active'"  class="d-none" >
                    <!-- <img src="assets/side-bar-icon/profile-people-account-svgrepo-com.svg" alt=""> -->
                    <span>Transactions</span>
                </li>
                <li [routerLink]="'items'" [routerLinkActive]="'active'" >
                    <!-- <img src="assets/side-bar-icon/profile-people-account-svgrepo-com.svg" alt=""> -->
                    <span>Items</span>
                </li>
                <li [routerLink]="'subitems'" [routerLinkActive]="'active'" >
                    <!-- <img src="assets/side-bar-icon/profile-people-account-svgrepo-com.svg" alt=""/> -->
                    <span>Subitems</span>
                </li>
                <li [routerLink]="'setting'" [routerLinkActive]="'active'" >
                    <!-- <img src="assets/side-bar-icon/profile-people-account-svgrepo-com.svg" alt=""> -->
                    <span>Settings</span>
                </li>
                
                <li [routerLink]="'#'" [routerLinkActive]="'active'"  class="d-none">
                    <!-- <img src="assets/side-bar-icon/profile-people-account-svgrepo-com.svg" alt=""> -->
                    <span>Nav</span>
                </li>
                <li [routerLink]="'#'" [routerLinkActive]="'active'"  class="d-none" >
                    <!-- <img src="assets/side-bar-icon/profile-people-account-svgrepo-com.svg" alt=""> -->
                    <span>Table</span>
                </li>
                <li [routerLink]="'#'" [routerLinkActive]="'active'" class="d-none">
                    <!-- <img src="assets/side-bar-icon/profile-people-account-svgrepo-com.svg" alt=""> -->
                    <span>About</span>
                </li>
            </ul>
           
        </div>
    </div>
</div>