<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="sidebar col-lg-2 col-md-2 transition-width hide-on-mobile" id="sidebar">

      <div class="sidebar-inner" >
        <app-side-bar></app-side-bar>
      </div>
    </div>
    <!-- mobile sidebar -->
    <div [ngClass]="{'col-lg-2 col-md-2': sidebarVisible, 'col-0': !sidebarVisible}" class="sidebar transition-width sidebar-mobile p-0 show-on-mobile" id="sidebar">

      <div class="sidebar-inner" [@slideInOut]="sidebarVisible ? 'in' : 'out'">
        <app-side-bar-mobile></app-side-bar-mobile>
      </div>
    </div>

    <!-- Main Content Area -->
    <div
      [ngClass]="{
        'col-lg-10 col-md-10': sidebarVisible,
        'col-lg-12 col-md-12': !sidebarVisible
      }"
      class="main-content"
    >
      <div class="content-wrapper">
        <!-- Header -->
        <div class="header">
          <app-header></app-header>
        </div>

        <div class="router-section">
          <router-outlet></router-outlet>
        </div>

        <!-- Footer -->
        <div class="footer">
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
</div>