<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-lg-2 col-md-2 sidebar" id="sidebar">
      <app-side-bar></app-side-bar>
    </div>

    <!-- Main Content Area -->
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 main-content">
      <div class="content-wrapper">
        <!-- Header -->
        <div class="header">
          <app-header></app-header>
        </div>

        <div class="router-section">
          <router-outlet></router-outlet>
        </div>

        <!-- Footer -->
        <div class="footer">
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
</div>
