<app-loader [isLoading]="isLoading"></app-loader>
<div *ngIf="!isLoading"></div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="table-container bg-white rounded shadow p-4 mt-5">
        <div class="headingTitle">
          <h2 class="mb-3">Artikel</h2>
          <img
            [src]="AddItmePlus"
            alt="Neuen Artikel hinzufügen"
            (click)="openModal()"
            class="AddItem"
          />
        </div>

        <div class="table-responsive">
          <table class="table align-middle">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Pakete</th>
                <th scope="col">Max Quantity</th>
                <th scope="col">Aktion</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of ListItems">
                <td>{{ item.name }}</td>
                <td>{{ item.package.name }}</td>
                <td>{{ item.max_quantity ?? 1 }}</td>
                <td class="slot">
                  <div class="tooltip-container d-none">
                    <img
                      src="assets/view-eye-svgrepo-com.svg"
                      alt="Artikel ansehen"
                      (click)="viewItem(item._id)"
                    />
                    <span class="tooltip-text">Artikel ansehen</span>
                  </div>
                  <div class="tooltip-container">
                    <img
                      src="assets/edit-4-svgrepo-com.svg"
                      alt="Artikel aktualisieren"
                      (click)="openUpdateModal(item)"
                    />
                    <span class="tooltip-text">Artikel aktualisieren</span>
                  </div>
                  <div class="tooltip-container">
                    <img
                      src="assets/delete-svgrepo-com.svg"
                      alt="Artikel löschen"
                      (click)="deleteItem(item._id)"
                    />
                    <span class="tooltip-text">Artikel löschen</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <app-confirmation-modal
          *ngIf="showConfirmation"
          (confirmed)="handleConfirmation($event)"
        ></app-confirmation-modal>

        <div class="pagination">
          <button
            class="page-btn"
            (click)="onPageChange(currentPage - 1)"
            [disabled]="currentPage === 1">
            <i class="fa-solid fa-backward"></i>
          </button>
        
          <ng-container *ngFor="let page of pagination">
            <button
              class="page-btn"
              *ngIf="page !== -1; else ellipsis"
              [class.active]="page === currentPage"
              (click)="onPageChange(page)">
              {{ page }}
            </button>
            <ng-template #ellipsis>
              <span class="ellipsis">...</span>
            </ng-template>
          </ng-container>
        
          <button
            class="page-btn"
            (click)="onPageChange(currentPage + 1)"
            [disabled]="currentPage === totalPages">
            <i class="fa-solid fa-forward"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add Modal Backdrop -->
<div
  class="modal-backdrop"
  *ngIf="showModal || showUpdateModal"
  (click)="handleBackdropClick($event)"
></div>
<!-- Add Modal -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [@modalAnimation]="showModal ? '*' : 'void'"
  *ngIf="showModal"
  (click)="handleBackdropClick($event)"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header headerNewItem">
        <h3 class="title">Artikel hinzufügen</h3>
        <img
          src="assets/close-sm-svgrepo-com.svg"
          alt=""
          class="close closeBtn"
          (click)="closeModal()"
          aria-label="Schließen"
        />
      </div>
      <div class="modal-body">
        <form [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
          <div class="form-group inputFormGroup">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
              name="name"
              required
            />
          </div>

          <div class="form-group inputFormGroup">
            <label for="itemName">Paket</label>
            <select
              id="packages"
              formControlName="packages"
              class="form-control"
              name="packages"
              required
            >
              <option value="" disabled>Paket auswählen</option>
              <option *ngFor="let pkg of packages" [value]="pkg._id">
                {{ pkg.name }}
              </option>
            </select>
          </div>

          <div class="form-group inputFormGroup">
            <label for="name">Max Quantity</label>
            <input
              type="number"
              id="name"
              formControlName="max_quantity"
              class="form-control"
              name="name"
              min="1"
              required
            />
          </div>
          <div *ngIf="addItemForm.get('max_quantity')?.errors?.['min'] && addItemForm.get('max_quantity')?.touched" class="text-danger">
            Max Quantity must be at least 1
          </div>
          

          <div class="form-group form-check inputFormGroup">
            <input
              type="checkbox"
              id="isAvailable"
              formControlName="isAvailable"
              class="form-check-input"
              [(ngModel)]="formData.isAvailable"
              name="isAvailable"
            />
            <label class="form-check-label" for="isAvailable">Verfügbar</label>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!addItemForm.valid"
            (click)="addItem()"
          >
            Absenden
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Update Modal -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [@modalAnimation]="showUpdateModal ? '*' : 'void'"
  *ngIf="showUpdateModal"
  (click)="handleBackdropClick($event)"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header headerNewItem">
        <h3 class="title">Artikel aktualisieren</h3>
        <img
          src="assets/close-sm-svgrepo-com.svg"
          alt=""
          class="close closeBtn"
          (click)="closeUpdateModal()"
          aria-label="Schließen"
        />
      </div>
      <div class="modal-body">
        <form [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
          <div class="form-group inputFormGroup">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
              [disabled]="nameDisabled"
              required
            />
          </div>

          <div class="form-group inputFormGroup">
            <label for="packages">Pakete</label>
            <select
              id="packages"
              formControlName="packages"
              class="form-control"
              required
            >
              <option value="" disabled>Paket auswählen</option>
              <option *ngFor="let pkg of packages" [value]="pkg._id">
                {{ pkg.name }}
              </option>
            </select>
          </div>
          <div class="form-group inputFormGroup">
            <label for="name">Max Quantity</label>
            <input
              type="number"
              id="name"
              formControlName="max_quantity"
              class="form-control"
              name="name"
              min="1"
              required
            />
          </div>
          <div *ngIf="addItemForm.get('max_quantity')?.errors?.['min'] && addItemForm.get('max_quantity')?.touched" class="text-danger">
            Max Quantity must be at least 1
          </div>
          
          <div class="form-group form-check inputFormGroup">
            <input
              type="checkbox"
              id="isAvailable"
              formControlName="isAvailable"
              class="form-check-input"
            />
            <label class="form-check-label" for="isAvailable">Verfügbar</label>
          </div>

          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!addItemForm.dirty"
            [disabled]="!addItemForm.valid"
            (click)="updateItem()"
          >
            Absenden
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
