<!--
<div class="modal-header d-flex justify-content-end aign-items-center" style="">
  <div class="close-button" type="button" id="closeBtn" (click)="closeModal()">
    <i class="fa fa-times"></i>
  </div>

</div>

<div class="modal-body custom-scrollbar">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="page-section mb-4">
          <h1 class="page-title font-weight-bold text-dark">
            {{ packageDetails.package?.name }}
            <span class="package-price text-primary">€{{ packageDetails.package?.price }} pro Person</span>
          </h1>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12">
        <div class="package-description p-4 rounded-lg shadow-lg bg-white">
          <div class="desc">
            <p class="text-muted m-0" [innerHTML]="packageDetails.package?.description"></p>
          </div>
          <p class="text-muted m-0" [innerHTML]="packageDetails.package?.finalNotes"></p>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="modal-footer justify-content-center">
  <div class="continue-btn" (click)="preCheckoutPage()">
    Weitermachen
  </div>
</div>

 -->

 <div class="body custom-scrollbar">
  <div class="container py-5">
    <!-- Package Title Section -->
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="page-section mb-4">
          <h1 class="page-title font-weight-bold text-dark">
            {{ packageDetails.package?.name }}
            <span class="package-price text-primary">€{{ packageDetails.package?.price }} pro Person</span>
          </h1>
        </div>
      </div>
    </div>

    <!-- Package Description Section -->
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="package-description p-4 rounded-lg shadow-lg bg-white">
          <div class="desc">
            <p class="text-muted m-0" [innerHTML]="packageDetails.package?.description"></p>
          </div>
          <p class="text-muted m-0" [innerHTML]="packageDetails.package?.finalNotes"></p>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="modal-footer justify-content-center">
  <div class="continue-btn" (click)="preCheckoutPage()">
    Weitermachen
  </div>
</div>
