.table-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .slot{
    padding-left: 34px;
    img{
        width: 30px;
        height: 30px;
    }
  }