<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="table-container bg-white rounded shadow p-4 mt-5">
        <h2 class="mb-3">Kunden</h2>

        <div class="table-responsive">
          <table class="table align-middle">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">E-Mail</th>
                <th scope="col">Buchungen</th>
                <th scope="col">Transaktionen</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let Booking of Bookings">
                <td>{{ Booking.name }}</td>
                <td>{{ Booking.email }}</td>
                <td class="slot">
                  <img [src]="Booking.slots" alt="Hanna Gover">
                </td>
                <!-- <td>{{ Booking.price }}</td> -->
                <td class="slot">
                  <img [src]="Booking.details" alt="Hanna Gover">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
