<app-loader [isLoading]="isLoading"></app-loader>
<div *ngIf="!isLoading"></div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="table-container bg-white rounded shadow p-4 mt-5">
        <div class="headingTitle">
          <h2 class="mb-3">Pakete</h2>
          <img
            [src]="AddItmePlus"
            alt="Neues Element hinzufügen"
            (click)="openModal()"
            class="AddItem"
          />
        </div>

        <div class="table-responsive">
          <table class="table align-middle">
            <thead>
              <tr>
                <th scope="col ">Name</th>
                <th scope="col ">Preis</th>
                <th scope="col ">Min. Personenanzahl</th>
                <th scope="col ">Max. Personenanzahl</th>
                <th scope="col ">Aktion</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of ListItems">
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.minPersons }}</td>
                <td>{{ item.maxPersons }}</td>
                <td class="slot">
                  <div class="tooltip-container" (click)="viewItem(item._id)">
                    <img
                      src="assets/view-eye-svgrepo-com.svg"
                      alt="Hanna Gover"
                      class="tooltip-image"
                    />
                    <span class="tooltip-text">Paket ansehen</span>
                  </div>
                  <div class="tooltip-container">
                    <img
                      src="assets/edit-4-svgrepo-com.svg"
                      alt="Hanna Gover"
                      (click)="openUpdateModal(item)"
                    />
                    <span class="tooltip-text">Paket bearbeiten</span>
                  </div>
                  <div class="tooltip-container d-none">
                    <img
                      src="assets/delete-svgrepo-com.svg"
                      alt="Hanna Gover"
                      (click)="deleteItem(item._id)"
                    />
                    <span class="tooltip-text">Paket löschen</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="pagination">
          <button
            class="page-btn"
            (click)="onPageChange(currentPage - 1)"
            (click)="previousPage()"
            [disabled]="currentPage === 1">
           <i class="fa-solid fa-backward"></i>
          </button>
        
          <ng-container *ngFor="let page of pagination">
            <button
              class="page-btn"
              *ngIf="page !== -1; else ellipsis"
              [class.active]="page === currentPage"
              (click)="onPageChange(page)">
              {{ page }}
            </button>
            <ng-template #ellipsis>
              <span class="ellipsis">...</span>
            </ng-template>
          </ng-container>
        
          <button
            class="page-btn"
            (click)="onPageChange(currentPage + 1)"
            (click)="nextPage()"
            [disabled]="currentPage === totalPages">
            <i class="fa-solid fa-forward"></i>         </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add Modal Backdrop -->
<div
  class="modal-backdrop"
  *ngIf="showModal || showUpdateModal"
  (click)="handleBackdropClick($event)"
></div>
<!-- Add Modal -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [@modalAnimation]="showModal ? '*' : 'void'"
  *ngIf="showModal"
  (click)="handleBackdropClick($event)"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header headerNewItem">
        <h3 class="title">Paket hinzufügen</h3>
        <img
          src="assets/close-sm-svgrepo-com.svg"
          alt=""
          class="close closeBtn"
          (click)="closeModal()"
          aria-label="Schließen"
        />
      </div>
      <div class="modal-body">
        <form [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
          <div class="form-group inputFormGroup">
            <div
              *ngIf="!addItemForm.valid && addItemForm.touched"
              class="alert alert-danger"
            >
              <h5 class="text-danger">Bitte füllen Sie alle erforderlichen Felder aus.</h5>
            </div>
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
              [(ngModel)]="formData.name"
              name="name"
              required
            />
            <div
              *ngIf="
                addItemForm.controls['name'].invalid &&
                addItemForm.controls['name'].touched
              "
              class="text-danger"
            >
              Name ist erforderlich.
            </div>

            <label for="name">Preis</label>
            <input
              type="number"
              id="price"
              formControlName="price"
              class="form-control"
              [(ngModel)]="formData.price"
              name="name"
              required
            />
            <label for="minPersons">Min. Personenanzahl</label>
            <input
              type="number"
              id="minPersons"
              formControlName="minPersons"
              class="form-control"
              required
            />
            <label for="maxPersons">Max. Personenanzahl</label>
            <input
              type="number"
              id="maxPersons"
              formControlName="maxPersons"
              class="form-control"
              required
            />

            <label for="description" class="mt-2">Beschreibung</label>
            <quill-editor formControlName="description"></quill-editor>
            <label for="finalNotes" class="mt-2">Abschließende Notizen</label>
            <quill-editor formControlName="finalNotes"></quill-editor>
          </div>
          <h3 class="fw-bold">Rabatt</h3>
          <label for="discountName">Rabattname</label>
          <input
            type="text"
            id="discountName"
            formControlName="discountName"
            class="form-control"
          />
          <label for="discountPercentage">Rabattprozentsatz</label>
          <input
            type="number"
            id="discountPercentage"
            formControlName="discountPercentage"
            class="form-control"
          />
          <div class="form-check form-switch mt-3">
            <label for="discount" class="form-check-label">Aktiv</label>
            <input
              type="checkbox"
              id="discount"
              formControlName="discount"
              class="form-check-input"
              (change)="toggleDiscount()"
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="addItemForm.invalid"
            (click)="addItem()"
          >
            Absenden
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Update Modal -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [@modalAnimation]="showUpdateModal ? '*' : 'void'"
  *ngIf="showUpdateModal"
  (click)="handleBackdropClick($event)"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header headerNewItem">
        <h3 class="title">Paket bearbeiten</h3>
        <img
          src="assets/close-sm-svgrepo-com.svg"
          alt=""
          class="close closeBtn"
          (click)="closeUpdateModal()"
          aria-label="Schließen"
        />
      </div>
      <div class="modal-body">
        <form [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
          <div class="form-group inputFormGroup">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
              [(ngModel)]="item.name"
              name="name"
              required
            />
            <label for="name">Preis</label>
            <input
              type="number"
              id="price"
              formControlName="price"
              class="form-control"
              [(ngModel)]="item.price"
              name="price"
              required
            />
            <label for="minPersons">Min. Personenanzahl</label>
            <input
              type="number"
              id="minPersons"
              formControlName="minPersons"
              class="form-control"
              required
            />
            <label for="maxPersons">Max. Personenanzahl</label>
            <input
              type="number"
              id="maxPersons"
              formControlName="maxPersons"
              class="form-control"
              required
            />

            <label for="description" class="mt-2">Beschreibung</label>
            <quill-editor formControlName="description"></quill-editor>
            <label for="finalNotes" class="mt-2">Abschließende Notizen</label>

            <quill-editor formControlName="finalNotes"></quill-editor>
            <h3 class="fw-bold items-center">Rabatt</h3>

            <label for="discountName">Rabattname</label>
            <input
              type="text"
              id="discountName"
              formControlName="discountName"
              class="form-control"
            />
            <label for="discountPercentage">Rabattprozentsatz</label>
            <input
              type="number"
              id="discountPercentage"
              formControlName="discountPercentage"
              class="form-control"
            />

            <div class="form-check form-switch mt-3">
              <label for="discount" class="form-check-label">Aktiv</label>
              <input
                type="checkbox"
                id="discount"
                formControlName="discount"
                class="form-check-input"
                (change)="toggleDiscount()"
              />
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!addItemForm.dirty"
            (click)="updateItem()"
          >
            Absenden
          </button>
          <button
            type="submit"
            class="btn btn-secondary ms-2"
            (click)="previewUpdatedChanges()"
          >
            Vorschau
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Confirmation Modal -->
<app-confirmation-modal
  *ngIf="showConfirmation"
  (confirmed)="handleConfirmation($event)"
></app-confirmation-modal>
