<app-loader [isLoading]="isLoading"></app-loader>
<div *ngIf="!isLoading"></div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="table-container bg-white rounded shadow p-4 mt-5">
        <div class="headingTitle">
          <h2 class="mb-3">Packages</h2>
          <img
            [src]="AddItmePlus"
            alt="Add new item"
            (click)="openModal()"
            class="AddItem"
          />
        </div>

        <div class="table-responsive">
          <table class="table align-middle">
            <thead>
              <tr>
                <th scope="col ">Name</th>
                <th scope="col ">Action</th>
                <!-- <th scope="col" style="visibility: hidden">Sub-items</th> -->
                <!-- <th scope="col">Transactions  </th> -->
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of ListAllItems">
                <td>{{ item.name }}</td>
                <td class="slot">
                  <img
                    src="assets/view-eye-svgrepo-com.svg"
                    alt="Hanna Gover"
                    (click)="viewItem(item._id)"
                  />
                  <img
                    src="assets/edit-4-svgrepo-com.svg"
                    alt="Hanna Gover"
                    (click)="openUpdateModal(item)"
                  />
                  <img
                    src="assets/delete-svgrepo-com.svg"
                    alt="Hanna Gover"
                    (click)="deleteItem(item._id)"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>

   

        <div class="pagination-buttons mt-3 d-flex justify-content-between">
          <button
            class="btn btn-primary h-25 mt-3"
            [disabled]="pageNumber === 1"
            (click)="previousPage()"
          >
            Previous
          </button>

          <div class="pagination">
            <div
              *ngFor="let page of pageCountArray"
              (click)="getPaginatedItems(page)"
              [class.active]="page === pageNumber"
              class="page-number-button buttom-hover"
            >
              {{ page }}
            </div>
          </div>

          <button
            class="btn btn-primary h-25 mt-3"
            [disabled]="pageNumber === totalPages"
            (click)="nextPage()"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add Modal Backdrop -->
<div
  class="modal-backdrop"
  *ngIf="showModal || showUpdateModal"
  (click)="handleBackdropClick($event)"
></div>
<!-- Add Modal -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [@modalAnimation]="showModal ? '*' : 'void'"
  *ngIf="showModal"
  (click)="handleBackdropClick($event)"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header headerNewItem">
        <h3 class="title">Add Package</h3>
        <img
          src="assets/close-sm-svgrepo-com.svg"
          alt=""
          class="close closeBtn"
          (click)="closeModal()"
          aria-label="Close"
        />
      </div>
      <div class="modal-body">
        <form [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
          <div class="form-group inputFormGroup">
            <div
              *ngIf="!addItemForm.valid && addItemForm.touched"
              class="alert alert-danger"
            >
              <h5 class="text-danger">Please fill all required fields.</h5>
            </div>
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
              [(ngModel)]="formData.name"
              name="name"
              required
            />
            <div
              *ngIf="
                addItemForm.controls['name'].invalid &&
                addItemForm.controls['name'].touched
              "
              class="text-danger"
            >
              Name is required.
            </div>
          </div>
          <button type="submit" class="btn btn-primary" (click)="addItem()">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Update Modal -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [@modalAnimation]="showUpdateModal ? '*' : 'void'"
  *ngIf="showUpdateModal"
  (click)="handleBackdropClick($event)"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header headerNewItem">
        <h3 class="title">Update Package</h3>
        <img
          src="assets/close-sm-svgrepo-com.svg"
          alt=""
          class="close closeBtn"
          (click)="closeUpdateModal()"
          aria-label="Close"
        />
      </div>
      <div class="modal-body">
        <form [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
          <div class="form-group inputFormGroup">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
              [(ngModel)]="item.name"
              name="name"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary" (click)="updateItem()">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Confirmation Modal -->
<app-confirmation-modal
  *ngIf="showConfirmation"
  (confirmed)="handleConfirmation($event)"
></app-confirmation-modal>
