<div class="container main-button__btnContainer">
  <div class="row">
    <div class="col-12 main-button__btnGeneralHeading">
      <span>Allgemeine Schaltflächen</span>
      <hr/>
      <h6 class="main-button__btnAbout">Verwenden Sie die Klassen <span>btn btn-success</span>, um schnell eine allgemeine Schaltfläche zu erstellen.</h6>
      <div class="col-12 main-button__btnGeneral">
        <button type="button" class="btn btn-primary">Primär</button>
        <button type="button" class="btn btn-secondary">Sekundär</button>
        <button type="button" class="btn btn-success">Erfolg</button>
        <button type="button" class="btn btn-danger">Gefährlich</button>
        <button type="button" class="btn btn-warning">Warnung</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-light">Helle</button>
        <button type="button" class="btn btn-dark">Dunkel</button>

        <button type="button" class="btn btn-link">Link</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 main-button__btnGeneralHeading">
      <span>Schaltflächen mit Umrandung</span>
      <hr/>
      <h6 class="main-button__btnAbout">Verwenden Sie die Klassen <span>btn btn-outline-success</span>, um schnell eine allgemeine Schaltfläche zu erstellen.</h6>
      <div class="col-12 main-button__btnGeneral">
        <button type="button" class="btn btn-outline-primary">Primär</button>
        <button type="button" class="btn btn-outline-secondary">Sekundär</button>
        <button type="button" class="btn btn-outline-success">Erfolg</button>
        <button type="button" class="btn btn-outline-danger">Gefährlich</button>
        <button type="button" class="btn btn-outline-warning">Warnung</button>
        <button type="button" class="btn btn-outline-info">Info</button>
        <button type="button" class="btn btn-outline-light">Helle</button>
        <button type="button" class="btn btn-outline-dark">Dunkel</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 main-button__btnGeneralHeading">
      <span>Abgerundete Schaltflächen</span>
      <hr/>
      <h6 class="main-button__btnAbout">Verwenden Sie die Klassen <span>btn btn-rounded btn-success</span>, um schnell eine allgemeine Schaltfläche zu erstellen.</h6>
      <div class="col-12 main-button__btnGeneral">
        <button type="button" class="btn btn-rounded btn-primary">Primär</button>
        <button type="button" class="btn btn-rounded btn-secondary">Sekundär</button>
        <button type="button" class="btn btn-rounded btn-success">Erfolg</button>
        <button type="button" class="btn btn-rounded btn-danger">Gefährlich</button>
        <button type="button" class="btn btn-rounded btn-warning">Warnung</button>
        <button type="button" class="btn btn-rounded btn-info">Info</button>
        <button type="button" class="btn btn-rounded btn-light">Helle</button>
        <button type="button" class="btn btn-rounded btn-dark">Dunkel</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 main-button__btnGeneralHeading">
      <span>Abgerundete Umrandete Schaltflächen</span>
      <hr/>
      <h6 class="main-button__btnAbout">Verwenden Sie die Klassen <span>btn btn-rounded btn-outline-success</span>, um schnell eine allgemeine Schaltfläche zu erstellen.</h6>
      <div class="col-12 main-button__btnGeneral">
        <button type="button" class="btn btn-rounded btn-outline-primary">Primär</button>
        <button type="button" class="btn btn-rounded btn-outline-secondary">Sekundär</button>
        <button type="button" class="btn btn-rounded btn-outline-success">Erfolg</button>
        <button type="button" class="btn btn-rounded btn-outline-danger">Gefährlich</button>
        <button type="button" class="btn btn-rounded btn-outline-warning">Warnung</button>
        <button type="button" class="btn btn-rounded btn-outline-info">Info</button>
        <button type="button" class="btn btn-rounded btn-outline-light">Helle</button>
        <button type="button" class="btn btn-rounded btn-outline-dark">Dunkel</button>
      </div>
    </div>
  </div>
</div>
