/* You can add global styles to this file, and also import other style files */
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat';    
     background: #F4F6F9; padding: 0px; overflow-x: hidden; }

     // src/styles.scss
     @import 'ngx-toastr/toastr';


.toast-top-right {
  top: 70px !important; 
}

.toast-success {
  background-color: #28a745 !important; 
}

.toast-error {
  background-color: #dc3545 !important; 
}

.toast-info {
  background-color: #17a2b8 !important; 
}

.toast-warning {
  background-color: #ffc107 !important; 
}

.modal-dialog{
  z-index: 10000000 !important;
}